<h1><a href="/index/blog/{{ blog_id }}"> {{ blog_title }} </a></h1>
<p>
    {{ blog_content }}
</p>

{% if comments %}
    <ul>
    {% for comment in comments %}
        <li>{{ comment.user }} : {{ comment.comment_content }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No comment.</p>
{% endif %}

<!-- 表单，用于提交评论 -->
<form action="/index/comment/{{ blog_id }}" method="post">
    {% csrf_token %}
    <!-- name 对应 request 中的键值（key） -->
    user:<input type="text" name="user">
    comment:<input type="text" name="content">
    <input type="submit" value="comment">
</form>
